@page "/counter"
@using acme.sistemas.compracoletiva.app.Data

@inject UsuarioService Login;
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<div>
    <p>Token</p>
    <p>
        @jsonTokens
    </p>
</div>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string jsonTokens="";
    private async void IncrementCount()
    {
        jsonTokens = await Login.Login("123@Mudar.com.br", "123@Mudar");
        currentCount++;
    }
}
